body {
    background-color: #ebebeb !important;
}

.container {
    background-color: white;
    max-width: 1024px;
}

.col-sm-12 {
    padding: 0;
}

.dAppLogo {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 10px;
}

.p-5 {
    padding: 10px 50px !important;
}

.btn-info {
    background-color: #138CCE !important;
}

.dForm01Title {
    width: 100%;
    display: table;
    height: 40px;
    text-align: center;
    background-color: #138CCE;
    color: white;
    font-family: inherit;
    font-size: 20px;
}

.dForm01Title span {
    display: table-cell;
    vertical-align: middle;
}

a,
a:hover {
    color: #138CCE;
    text-decoration: underline;
}

.dSubmit {
    font-size: 1rem !important;
    border-radius: 10px;
}

.custom-control-input:checked~.custom-control-label::before {
    border-color: #138CCE;
    background-color: #138CCE;
}
