/* 
Some other files are also referring to this CSS file e.g.
D:\dheeraj\00_notes_n_tutorials\CSS\Examples\Two_DIVs_side_by_side\html.html
So, do not move it's location

Keep adding standard reusable CSS styles in this file.
*/


body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    background: #ebebeb !important;
    overflow-x: hidden;
    color: #5e5e5e;
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

* {
    font-family: 'Source Sans Pro';
    box-sizing: border-box;
}

/* Standard ul,ol,li settings */
ul,
ol,
li {
    margin: 0;
    padding: 0;
}

ul {
    margin-left: 1em;
}

ol {
    margin-left: 1.75em;
}

li {
    padding-left: 0.75em;
}

li {
    margin-bottom: .25em;
}

ul li ul li:first-child,
ul li ol li:first-child,
ol li ol li:first-child,
ol li ul li:first-child {
    margin-top: .25em;
}

ul,
ol {
    margin-bottom: 1em;
}

ul li ul,
ul li ol,
ol li ol,
ol li ul {
    margin-bottom: 0;
}

ul>li {
    list-style: disc;
}

ul>li ul>li,
ol>li ul>li {
    list-style: circle;
}

ul>li ul>li ul>li,
ul>li ol>li ul>li,
ol>li ul>li ul>li {
    list-style: square;
}

ol>li ol>li ul>li {
    list-style: circle;
}


div.dContainer {
    background: #fff;
    width: 100%;
    /* height:100vh; */
    max-width: 1024px;
    /* 1024px or 100% */
    margin: 0 auto;
    box-sizing: border-box;
}

.pad-1em {
    padding: 0 1rem;
    margin-bottom:30px;
}

.dHCenter {
    text-align: center;
}

.dHLeft {
    text-align: left;
}

.dVTop {
    vertical-align: top;
}

.dVMiddle {
    vertical-align: middle;
}

.dVBottom {
    vertical-align: bottom;
}


/* ****************************** Media Queries ****************************** */

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For landscape layouts only */
}

@media only screen and (device-width: 768px) {
    /* For general iPad layouts */
}

/* Extra small devices (very small phones, less than 576px, upto 575.98px) */
@media (max-width: 575.98px) {}

/* Small devices (phones, 576px and up, upto 767.98px) */
@media (min-width: 576px) and (max-width: 767.98px) {}

/* Medium devices (tablets, 768px and up, upto 991.98px) */
@media (min-width: 768px) and (max-width: 991.98px) {}

/* Large devices (desktops, 992px and up, upto 1199.98px) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}
