section.grey-area {
    /* background-color: #f5f5f5; */
    text-align: center;
    display: flex;
    justify-content: center;
}

section.grey-area .caption {
    font-size: 1.5rem;
    padding: 0 20px;
    flex: 30%;
}

section.grey-area .images {
    display: flex;
    flex-wrap: wrap;
    flex: 70%;
    align-items: center;
}

section.grey-area .images .image {
    height: 80px;
    width: 100px;
    background-color: #808080;
    margin: 5px;
}
