.colored-border-container {
    height: 5px;
    width: 100%;
    display: flex;
}

.colored-border-container span {
    flex: 25%;
    display: inline-block;
    height: 100%;
    width: 100%;
}

.colored-border-container span.red {
    color: #f19294;
    background-color: #f19294;
}

.colored-border-container span.green {
    color: #cfda58;
    background-color: #cfda58;
}

.colored-border-container span.blue {
    color: #43b8b5;
    background-color: #43b8b5;
}

.colored-border-container span.yellow {
    color: #ffd635;
    background-color: #ffd635;
}

.colored-border-container+section {
    border: 0;
    margin-top: 0 !important;
}
